name: Build NULIX OS Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      machine:
        description: "Override the default MACHINE value"
        required: false
        type: string
      distro:
        description: "Override the default DISTRO value"
        required: false
        type: string
      apps_repo:
        description: "Override the default apps repo value"
        required: false
        type: string

env:
  MACHINE: ${{ github.event.inputs.machine || 'rpi3' }}
  DISTRO: ${{ github.event.inputs.distro || 'alpine-docker' }}
  APPS_REPO: ${{ github.event.inputs.apps_repo || 'https://github.com/nulix/apps.git' }}

jobs:
  build-os:
    runs-on: ubuntu-24.04-arm
    name: Build NULIX OS
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            action.yml
            docker-compose.yml
      - name: Build NULIX OS
        uses: ./
        with:
          step_name: build-os
          machine: ${{ env.MACHINE }}
          distro: ${{ env.DISTRO }}
          apps_repo: ${{ env.APPS_REPO }}
          upd8_keys: ${{ secrets.UPD8_KEYS }}
          machine_reg_token: ${{ secrets.MACHINE_REG_TOKEN }}
          ssh_public_key: ${{ vars.SSH_PUBLIC_KEY }}
          ssl_cert: ${{ vars.SSL_CERT }}
          upd8_api_url: ${{ vars.UPD8_API_URL }}
      - name: Upload OS image
        uses: actions/upload-artifact@v4
        with:
          name: nulix-os-${{ env.MACHINE }}
          path: nulix-os/build/deploy/${{ env.MACHINE }}/nulix-os-*.img.bz2
          retention-days: 7 # Keep the artifact for 7 days
